body {
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(245, 239, 239);
}
h1 {
    font-size: 2rem;
    color: rgb(201, 20, 20);
    line-height: 1;
}
textarea {
     /* what format of text should be entered in the form we ha  */
    padding: 7px 0 40px 5px;
    font-family: inherit;
    border-radius: 25px;
}
::placeholder {
    font-size: 1.3rem;
}
button {
    background-color: rgb(243, 11, 11);
    /* expand the width of the button  */
    width: 150px;
    color: rgb(241, 229, 229);
    font-size: 1.2rem;
    cursor: pointer;
}
 /* when the cursor is pointed towards the button */
button:hover {
    background-color: rgb(224, 134, 134);

}
.notes {
    padding: 1rem;
    background-color: rgb(231, 147, 147);
    border-radius: 5px;
    margin: 1rem 0;
}
.note-btn{
    padding: 6px;
    margin-top: 3px;
    background-color: orangered;
    border-radius: 3px;
    cursor: pointer;
}